BeautifulSoup==3.2.1
Brlapi==0.5.7
CherryPy==3.2.2
Django==1.4.5
GeoIP-Python==1.2.4
GnuPGInterface==0.3.2
Mako==0.7.0
MarkupSafe==0.15
MySQL-python==1.2.3
PIL==1.1.7
SOAPpy==0.12.0
Unidecode==0.04.17
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
defer==1.0.6
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
enum==0.4.4
facebook-sdk==0.4.0
facepy==1.0.6
feedparser==5.1.2
fpconst==0.7.2
httplib2==0.7.4
jdcal==1.0
louis==2.4.1
lxml==2.3.2
netaddr==0.7.7
numpy==1.6.2
oauthlib==0.7.2
openpyxl==2.2.0-b1
pexpect==2.4
progressbar==2.3
pycurl==7.19.0
python-amazon-product-api==0.2.8
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
python-socksipy==1.0
pyxdg==0.19
reportbug==6.4.4
reportlab==2.5
requests==2.5.3
requests-oauthlib==0.4.2
scapy==2.2.0
simplejson==2.5.2
six==1.9.0
twython==3.2.0
uTidylib==0.2
unattended-upgrades==0.1
vboxapi==1.0
wsgiref==0.1.2
xlrd==0.9.3
