<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{name}} {{surname}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<script src="{{dataurl}}" type="text/javascript"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="animated bounceInDown" xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Person">
		<div class="avatar">
			<img property="v:photo" src="{{STATIC_URL}}img/avatar.jpg" alt="Avatar of {{name}} {{surname}}"/>
		</div>
		<div class="content">
			<h1 class="title" property="v:name">{{name}}<br/>{{surname}}</h1>
			{% if role %}
			<p property="v:role">
				{{role}}
			</p>
			{% endif %}
			{% if social.enabled %}
			<ul class="social-icons">
				{% for link in social %}
				<li><a class="{{link.type}}" href="{{link.url}}" title="{{link.name}}">{{link.name}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% if links.enabled %}
			<p>
				{{links.title}}<br>
				{% for link in links.list %}
				<a href="{{link.url}}">{{link.name}}</a><br>
				{% endfor %}
			</p>
			{% endif %}
			{% if email.address %}
			<p>{{email.question}} <a href="mailto:{{email.address}}{% if email.tag %}?subject=[{{email.tag}}]{% endif %}">Email me</a>.</p>
			{% endif %}
		</div>
	</body>
</html>
